
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.App{
    min-width:100%;
    min-height:calc(100vh - 3rem);
    box-sizing: border-box;
    padding:0rem 1rem;
    display: flex;
    flex-direction: column;
}




.foot{
    min-width:100%;
    margin-top:3rem;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span{
        color:rgba(189,189,189,0.6);
    }
}